
VITE_ENV = 'development'
# VITE_ENV = 'production'

VITE_PRODUCTION_API=
VITE_DEVELOPMENT_API=

# The Backend API Port
VITE_SERVER_API_PORT=
# Your client (Vite) port
VITE_CLIENT_PORT=

VITE_ALLOWED_ORIGIN=

#Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

#Device IP
SERVER_HOST=

#MonggoDB Connections
MONGODB_URL=
SESSION_COLLECTION=
SESSION_SECRET=
HTTPS_SECURE=

#Secret Key
SECRET_KEY=

#CRYPTOGRAPHY
ENCRYPTION_ALGORITHM=
ENCRYPTION_IV=
ENCRYPTION_KEY=

#Email Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=


